<!--********************************************************************#
# File Name: home.html
# Writen By: Ashish Kapoor
# Project Name: Activity for Zenatix
# Purpose of this file: HTML Page (Single Page Outlook)
#*********************************************************************-->
{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="col-md-6 col-sm-offset-3">
    {% if request.user.is_authenticated %}
    <h1> Welcome {{ title }} </h1>
    <p>So "{{ title }}" What may I help you with today? Feel free to explore the msg application built on the Django Framework 1.8.4 with love of Python v3.4.3<br></p>
    {% endif %}
</div>

<div class="text-center">
    {% if not request.user.is_authenticated %}
    <h1> Welcome to MSG Application</h1>
    {% endif %}

</div>

<img src="/static/img/django-logo.png" alt="" />
<br><img src="/static/img/python-logo.png" alt="" />
{% endblock %}
