{% load staticfiles %}

<nav class="navbar navbar-default navbar-inverse" role="navigation">
    <div class="container-fluid" id="navfluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigationbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'home' %}"><img src="{% static 'img/letter.png' %}" alt="MSG APP" /></a>
        </div>
        <div class="collapse navbar-collapse" id="navigationbar">
            <ul class="nav navbar-nav">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'about' %}">About</a></li>
                {% if request.user.is_authenticated %}
                <li><a href="{% url 'contact' %}">Write Message</a></li>
                <li> <a href="{% url 'allMsgs' %}">Read Message</a> </li>
                {% endif %}
            </ul>

            <ul class="nav navbar-nav navbar-right">
                {% if request.user.is_authenticated %}
                <li> <a href="/admin">Admin</a></li>
                <li><a  href="{% url 'auth_logout' %}">Logout</a></li>
                {% else %}
                <li><a  href="{% url 'registration_register' %}">Register</a></li>
                {% endif %}
            </ul>


            {% if not request.user.is_authenticated and not "/accounts/login" in request.get_full_path %}
            <form class="navbar-form navbar-right" action="{% url 'auth_login' %}" method="post">{% csrf_token %}
                <div class="form-group">
                    <input type="text" name="username" class="form-control" placeholder="Username">
                </div>
                <div class="form-group">
                    <input type="password" name="password" class="form-control" placeholder="Password">
                </div>
                <button type="Submit" name="Login" class="btn btn-default">Login</button>
            </form>
            {% endif %}

        </div>
    </div>
</nav>
